
''' asanaCRM depends on a secrets.py file that looks like this.
    Fill this out with your information and rename it to 
    secrets.py '''

api_key = 'n0tAr34l4pik3y!'

#hardcode a specific workspace and project to be used always
workspace = 'Your Worspace Name'
project = 'ProjectName'

#the first line in each section takes on a dictionary name.  "name" or "title" would be good choices
firstline_name = 'name'

#special rules for special lines
comma_exempt = ['address']  #these keys will always contain just one sting.  Don't split on commas.

#This is meant to be edited if a new key is added,
#a dictionary of {expectedKey: validationFunctionToUse}
#keys are all lower case strings with no white space on the sides

from validators import validatePhone,validateDate,validateEmail
ExpectedKeys = { 
	"phone": validatePhone,
	"dob" : validateDate,
	"email" : validateEmail,
	"enrolled" : validateDate,
	"withdrew" : validateDate,
	}



import os.path as path
pickle_folder = 'pickles'
pickle_f = 'index.pickle'
pickle_file = path.join(pickle_folder,pickle_f)

error_html = 'output/errors.html'
output_html = 'output/query_output.html'
output_csv = 'output/query_output.csv'


#ignore this line
